main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
}

.info{
    width: 100%;
    max-width: 400px;
}
.info > img.logo-vw{
    max-width: 500px;
    
    }
.info p {
    font: 18px;
    margin: 20px 0 20px;
}

.info div{
    display: flex;
    column-gap: 35px;
}

.info div a, .info div button {
    width: 100%;
    padding:10px 0;
    border-radius: 3px;

    font-size: 14px;
    font-weight: 250;
    text-align: center;
    text-transform:uppercase ;
    letter-spacing: 0.3px;
}
.costas{
    margin-top: -160px;
    margin-left: 350px ;
}

.info div a{
    background: var(--red);
}

.info div button {
    background: transparent;
    border: 1px solid var(--blue);
}